[user]
        name = Kevin Jackson
        email = kj31428@gmail.com
[core]
        editor = vim
[push]
        default = simple
[alias]
        ac = !git add -A && git commit -v
        br = branch
        co = checkout
        ci = commit
        df = diff
        dfs = diff --staged
        la = log --oneline --decorate --graph --all -30
        ll = log --oneline -30
        nb = checkout -b
        st = status
        ss = status -s
[merge]
        tool = vimdiff
[diff]
        tool = vimdiff
[difftool]
        prompt = false
